* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);
    --Lightslatebluebackground: hsl(252, 100%, 67%);
    --Lightroyalbluebackground: hsl(241, 81%, 54%);

    --Violetbluecircle: hsla(256, 72%, 46%, 1);
    --Persianbluecircle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

body {
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--Paleblue);
}

.container{
    max-width: 500px;
    height: 100%;
}

.upper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(var(--Lightslatebluebackground), var(--Lightroyalbluebackground));
}

.upper h4 {
    color: var(--Lightlavender);
}

.upper-mid {
    background: linear-gradient(var(--Violetbluecircle), var(--Lightroyalbluebackground));
    margin: 20px auto 25px auto;
    border-radius: 50%;
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.upper-mid h1 {
    font-size: 40px;
    color: var(--Paleblue);
}

.upper-mid p {
    font-size: 16px;
    color:gray;

}

.upper-low h3 {
    color: var(--Paleblue);
    /* margin-bottom: 10px; */
}

.upper-low p {
    color: var(--Paleblue);
    font-size: 14px;
    /* margin-bottom: 20px; */
}

.lower{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    padding: 1rem 0 0 1rem;
    width: 100%;
    justify-content: center;
    position: relative;
}

.lower h4{
    color: var(--Darkgrayblue);
    /* margin-bottom: 20px; */
    /* position: absolute; */
    /* top: 20px; */
}

.content{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 5px;
    width: 95%;

}

.content h5{
    font-weight: 800;
}

.one{
    border: 2px solid var(--Lightred);
    height: 40px;
    border-radius: 8px;
    color: var(--Lightred);
}
.two{
    border: 2px solid var(--Orangeyyellow);
    height: 40px;
    border-radius: 8px;
    color: var(--Orangeyyellow);
}
.three{
    border: 2px solid var(--Greenteal);
    height: 40px;
    border-radius: 8px;
    color: var(--Greenteal);
}
.four{
    border: 2px solid var(--Cobaltblue);
    height: 40px;
    border-radius: 8px;
    color: var(--Cobaltblue);
}

.score h5{
    color: var(--Darkgrayblue);
}

.score h5 span{
    color:gray;
    font-weight: 500;
}

.btn{
    width: 100%;
    /* margin-top: 15px; */
    margin: 0 auto 0 auto;
}
button{
    width: 90%;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: var(--Darkgrayblue);
    color: var(--Paleblue);
    font-size: 18px;
    /* padding: 5px; */
    /* margin-bottom: 10px; */
    margin: 0 auto 0 auto;
}


/* ----------Responsive---------- */

@media screen and (min-width:1024px) {
    .container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 25vh;
    }
    .upper{
        border-radius: 25px;
        height: 55vh;
    }

    .lower{
        border-radius: 25px;
        height: 55vh;
        box-shadow: 3px 3px rgb(235, 234, 234);
        background-color: white;
        padding: 1rem;
    }
    
}